<div class="wrapper">
  <% @results_readings['main_kanji'].each do |kanji| %>
    <div class="KanjiCard_readings">
      <p class="KanjiCard_kanji_reading" id="kanji"><%= kanji %></p>
    </div>
  <% end %>
</div>
