<div class="container search">
  <%= render 'shared/searchbar' %>
</div>
<% if @results == 'No results found' || @results_readings == 'No results found' %>
  <div class="no-results">
    <%= image_tag 'not-found.png', class:'no-result-img' %>
    <h1 class='no-results-h1'>No results found</h1>
    <p class="no-results-para">Please search by Kanji or search in Hiragana/Katakana by selecting "Kanji Reading" in the searchbar dropdown.</p>
  </div>
<% else %>
  <% if @switch %>
    <%= render 'kanjis/results', @results %>
  <% elsif @switch2 %>
    <%= render 'kanjis/results_reading', @results_readings %>
  <% end %>
<% end %>
<p></p>
