.KanjiCard_kanji_reading {
  padding: 20%;
}

.KanjiCard_readings {
  width: 150px;
  height: 170px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 10vh;
  margin: 5px;
  margin-top: 10px;
}
