.search {
  margin-top: 10px;
}

.search .form-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-search .form-control {
  border-radius: 8px;
}

#dropdown_selection {
  border-radius: 8px;
}
